<app-header></app-header>
<app-side-bar-deux></app-side-bar-deux>
<!-- right content -->
<div id="content">
    <h2 class="mt-5">Conclusion de l'audit</h2>
    <div class="midde_cont mt-5">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Opérateur</th>
                <th scope="col">Conformité</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" class="form-control" id="operateur" [(ngModel)]="operateur"></td>
                    <td><input type="text" class="form-control" id="infr&env" list="choisir-cinquante-quatre" [(ngModel)]="conformite">
                        <datalist id="choisir-cinquante-quatre">
                            <option value="Conforme">
                            <option value="Non conforme">
                        </datalist>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="button mt-5 center verticle_center">
        <button class="prev-btn" routerLink="/synthese">Précedent</button>
        <button class="save-btn" type="submit" (click) = "Submited()">Enregistrer</button> 
        <button class="next-btn" routerLink="/annexes">Suivant</button> 
    </div>

</div>
