<div class="full_container">
    <div class="container mt-5">
       <div class="center verticle_center">
          <div class="login_section">
             <div class="logo_login">
                <div class="center">
                   <img width="210" src="assets/images/logo/Valsch.png" height="100" alt="#" />
                </div>
             </div>
             <div class="login_form">
                <form action="">
                   <div class="row">

                        <div class="connecter col-5">
                           <h4>J'ai un compte</h4>
                           <p class="text-danger">{{message}}</p>
                                <div class="mb-3">
                                  <label for="exampleInputEmail1" class="form-label">Email ou nom utilisateur</label>
                                  <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="nom_utilisateur" [ngModelOptions]="{standalone: true}" aria-describedby="emailHelp" required>
                                </div>
                                <div class="mb-3">
                                  <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
                                  <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="mdp" [ngModelOptions]="{standalone: true} " required>
                                </div>
                                <div class="mb-3 form-check">
                                 <a href="" class="mdp blue2_color">Mot de passe oublié ?</a>
                                </div>
                                <div class="mb-3">
                                   <input type="submit" (click) = "Submited()" class="form-control connexion text-white" value="Se connecter">
                                </div>
                        </div>

                        <div class="separator"></div>

                        <div class="enregistrer col-5">
                           <h4>Je suis nouveau</h4>
                              <div class="mb-5">
                                 <a routerLink="/inscription"><button id=" phone-btn" class="rounded-button"><i class="fa fa-registered blue2_color mr-3"></i>S'inscrire pour la première fois</button></a>
                              </div>
                        </div>
                   </div>
                </form>
             </div>
          </div>
       </div>
    </div>
 </div>

