<div class="full_container">
    <div class="container">
       <div class="center verticle_center full_height">
          <div class="login_section">
             <div class="logo_login">
                <div class="center">
                   <img width="210" src="assets/images/logo/logo.png" alt="#" />
                </div>
             </div>
             <div class="login_form">
                <form>
                   <div class="row">

                        <div class="connecter col-5">
                                <div class="mb-3">
                                  <label for="exampleInputEmail1" class="form-label">Email ou nom utilisateur</label>
                                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                </div>
                                <div class="mb-3">
                                  <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
                                  <input type="password" class="form-control" id="exampleInputPassword1">
                                </div>
                                <div class="mb-3 form-check">
                                  <label class="form-check-label">Mot de passe oublié ?</label>
                                </div>
                                <div class="mb-3">
                                    <input type="submit" class="form-control bg-primary text-white" value="Se connecter">
                                </div>
                        </div>

                        <div class="separator"></div>

                        <div class="enregistrer col-5">
                           <div class="mb-3">
                              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                              <input type="password" class="form-control" id="exampleInputPassword1">
                            </div>
                            <div class="mb-3">
                                <input type="submit" class="form-control bg-primary text-white" value="Se connecter">
                            </div>
                        </div>
                   </div>
                </form>
             </div>
          </div>
       </div>
    </div>
 </div>
