// .page-garde {
// 	background-color: #eee;
// 	text-align: center;
// 	padding: 100px 0;
// 	position: relative;
// }
// img {
// 	max-width: 100%;
// 	height: auto;
// 	margin-bottom: 20px;
// }
// h1 {
// 	font-size: 4em;
// 	margin-bottom: 0;
// }
// h2 {
// 	font-size: 2em;
// 	margin-top: 10px;
// 	margin-bottom: 50px;
// }
// .auteur {
// 	font-weight: bold;
// }
// .date {
// 	font-style: italic;
// }
// .bordure {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	z-index: -1;
// }


// .contenant2 {
//     background-color: #fff; /* Couleur de fond blanche */
//     border: 2px solid #0000FF; /* Bordure de 1 pixel solide en couleur grise claire */
//     padding: 20px; /* Espace de remplissage intérieur de 20 pixels */
//     width: 80%; /* Largeur fixe de 80% */
//     margin: 0 auto; /* Marges gauche et droite automatiques pour centrer horizontalement */
  
//   }

.contenant-exterieur {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Ombre du contenant extérieur */
    background-color: #fff; /* Couleur de fond blanche du contenant extérieur */
    padding: 20px; /* Espace de remplissage intérieur de 20 pixels pour le contenant extérieur */
    width: 70%; /* Largeur fixe de 70% */
    margin: 0 auto; /* Marges gauche et droite automatiques pour centrer horizontalement */
  }
  
  .contenant-interieur-1 {
    border: 5px solid blue; /* Bordure de 2 pixels solide en couleur bleue pour le contenant intérieur */
    padding: 20px; /* Espace de remplissage intérieur de 20 pixels pour le contenant intérieur */
    height: 800px;
    margin: 35px;
    background-color: #fff;
  }
  .contenant-interieur-2 {
    border: 5px solid blue; /* Bordure de 2 pixels solide en couleur bleue pour le contenant intérieur */
    padding: 20px; /* Espace de remplissage intérieur de 20 pixels pour le contenant intérieur */
    height: 800px;
    margin: 35px;
    background-color: #fff;
  }
  .contenant-interieur-3 {
    border: 5px solid blue; /* Bordure de 2 pixels solide en couleur bleue pour le contenant intérieur */
    padding: 20px; /* Espace de remplissage intérieur de 20 pixels pour le contenant intérieur */
    height: 800px;
    margin: 35px;
    background-color: #fff;
  }
  .contenant-interieur-4 {
    border: 5px solid blue; /* Bordure de 2 pixels solide en couleur bleue pour le contenant intérieur */
    padding: 20px; /* Espace de remplissage intérieur de 20 pixels pour le contenant intérieur */
    height: 800px;
    margin: 35px;
    background-color: #fff;
  }
  .contenant-interieur-5 {
    border: 5px solid blue; /* Bordure de 2 pixels solide en couleur bleue pour le contenant intérieur */
    padding: 20px; /* Espace de remplissage intérieur de 20 pixels pour le contenant intérieur */
    height: 800px;
    margin: 35px;
    background-color: #fff;
  }
  .contenant-interieur-6 {
    border: 5px solid blue; /* Bordure de 2 pixels solide en couleur bleue pour le contenant intérieur */
    padding: 20px; /* Espace de remplissage intérieur de 20 pixels pour le contenant intérieur */
    height: 800px;
    margin: 35px;
    background-color: #fff;
  }
  .contenant-interieur-7 {
    border: 5px solid blue; /* Bordure de 2 pixels solide en couleur bleue pour le contenant intérieur */
    padding: 20px; /* Espace de remplissage intérieur de 20 pixels pour le contenant intérieur */
    height: 800px;
    margin: 35px;
    background-color: #fff;
  }
  
  /* Espacement entre les deux conteneurs */
  .contenant-exterieur {
    margin-top: 20px;
  }
  p{
    display: flex;
    
  }
  h3,h2,h1{
    display: flex;
    justify-content: center;
  }
  
  