
<div class="full_container">
    <div class="container mt-5">
       <div class="center verticle_center">
          <div class="login_section">
             <div class="logo_login">
                <div class="center">
                   <img width="210" src="assets/images/logo/un.png" alt="#" />
                </div>
             </div>
             <div class="login_form">
                <form>
                    <h2 class="mt-3">Compétences & Progression</h2>
                <div class=" btn-modal row mt-5">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Ajouter</button>
                </div>
                    <div class="mb-3 competence-progression center verticle_center mt-3" *ngFor="let item of competenceListe let i=index">
                       <input type="text" class="form-control" [id]="'competence'+i" [name]="'competence'+ i" [(ngModel)]="item.competence">
                        <input type="text" class="form-control" [id]="'progression'+i" [name]="'progression'+i"  [(ngModel)]="item.progression">
                    </div> 

                   <div class="button center verticle_center">
                    <button class="prev-btn" routerLink="/inscription">Précedent</button>
                    <button class="next-btn" routerLink="/inscription-projet">Suivant</button> 
                   </div>
                </form>
             </div>
          </div>
       </div>
    </div>
 </div>



 <!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Ajouter d'autres compétences que vous avez</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3 competence-progression center verticle_center mt-5">
              <input type="text" class="form-control" id="competence" name="competence" [(ngModel)]="nouvelleCompetence.competence" placeholder="Entrez une autre compétence">
              <input type="text" class="form-control" id="progression" name="progression" [(ngModel)]="nouvelleCompetence.progression" placeholder="Votre progression">
            </div>
         
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="ferme">Fermer</button>
          <button type="button" class="btn btn-primary" (click)="enregistrerCompetence()" [disabled]="!nouvelleCompetence.competence || !nouvelleCompetence.progression">Enregistrer</button>
        </div>
      </div>
    </div>
  </div>

