<app-header></app-header>
<app-side-bar></app-side-bar>
<!-- right content -->
<div id="content">
    <h1>BIENVENNUE DANS NOTRE APPLICATION PLUSWORDS</h1>
    <div class="midde_cont mt-5">
        <div class="fonction1">
            <div class="card" style="width: 18rem;">
                <img src="assets/images/layout_img/deux.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <a routerLink="/presentation" class="card-text">Enregistrer les informations collectées pour éditer un rapport.</a>
                </div>
              </div>
        </div>

        <div class="fonction2">
            <div class="card" style="width: 18rem;">
                <img src="assets/images/landing_page/trois.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <a href="" class="card-text">Voir la liste des rapports enregistrés pour mener des actions.</a>
                </div>
              </div>

        </div>
    </div>
    <!-- end dashboard inner -->
</div>