<app-header></app-header>
<app-side-bar></app-side-bar>
<!-- right content -->
<div id="content">
    <h1>BIENVENNUE DANS NOTRE APPLICATION PLUSWORDS</h1>
        <div class="midde_cont mt-5 row">
              <div class="fonction1">
                    <div class="card" style="width: 18rem;">
                      <img src="assets/images/landing_page/deux.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                          <a routerLink="/presentation" class="card-text">Enregistrer les informations collectées pour éditer un rapport.</a>
                      </div>
                    </div>
              </div>

              <div class="fonction2">
                  <div class="card" style="width: 18rem;">
                      <img src="assets/images/landing_page/trois.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <a routerLink="/listerapports" class="card-text">Voir la liste des rapports enregistrés pour mener des actions.</a>
                      </div>
                    </div>
              </div>
              <div class="fonction3">
                    <div class="card" style="width: 18rem;">
                      <img src="assets/images/landing_page/quatre.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <a routerLink="/profil" class="card-text">Voir son profil utilisateur pour des modifications ou plus de précisions.</a>
                      </div>
                    </div>
              </div>
        </div>



        <div class="midde_cont mt-3 row">
            <div class="fonction4">
                 <div class="card" style="width: 18rem;">
                    <img src="assets/images/landing_page/cinq.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a routerLink="/users" class="card-text">Forum des utilisateurs ayant un compte pour des prises des contacts.</a>
                    </div>
                  </div>
            </div>

            <div class="fonction5">
                <div class="card" style="width: 18rem;">
                    <img src="assets/images/landing_page/six.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <a routerLink="/equipes" class="card-text">la liste des équipes ayant éffectuées des contrôles de terrain.</a>
                    </div>
                </div>
            </div>
            <div class="fonction6">
                <div class="card" style="width: 18rem;">
                    <img src="assets/images/landing_page/sept.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <a routerLink="/admin" class="card-text">Espace administrateur pour l'organisation et la suppervision.</a>
                    </div>
                  </div>
            </div>
        </div>
    <!-- end dashboard inner -->
</div>