<app-header></app-header>
<app-side-bar-deux></app-side-bar-deux>
<!-- right content -->
<div id="content">
        <div class="midde_cont mt-5">
            <h4>Présentation de l'équipe intervenant</h4>
            <table class="table mt-5">
                <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Fonction</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input type="text" class="form-control" id="name"></td>
                    <td><input type="text" class="form-control" id="surname"></td>
                    <td><input type="text" class="form-control" id="function"></td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control" id="name"></td>
                    <td><input type="text" class="form-control" id="surname"></td>
                    <td><input type="text" class="form-control" id="function"></td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control" id="name"></td>
                    <td><input type="text" class="form-control" id="surname"></td>
                    <td><input type="text" class="form-control" id="function"></td>
                </tr>
                </tbody>
            </table>
        </div>
        
        <div class="button center verticle_center">
            <button class="save-btn" type="submit">Enregistrer</button> 
            <button class="next-btn" routerLink="/infosite">Suivant</button> 
        </div>
</div>