h4{
    display: flex;
    justify-content: center;
}


.intervenant{
    display: flex;
    justify-content:space-around;
}
.btn-modal{
    display: flex;
    justify-content: right;

}

.observation{
    display: flex;
    justify-content: center;
}

input[type="file"] {
    font-size: 1.2rem;
    padding: 0.5rem;
    // border: 1px solid #ccc;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.075);
  }

  input[type="text"]{
    height:35px;
    width:100%;
    border-radius:20px;
    padding:0 20px;
    // border:none;
    outline:0;
    background-color:#fff;
    box-shadow: 0 0.150rem 0.50rem rgba(0, 0, 0, 0.075);
}
input[type="date"]{
    height:35px;
    width:100%;
    border-radius:20px;
    padding:0 20px;
    // border:none;
    outline:0;
    background-color:#fff;
    box-shadow: 0 0.150rem 0.50rem rgba(0, 0, 0, 0.075);
}
textarea{
    border-radius:20px;
    padding:0 20px;
    // border:none;
    outline:0;
    background-color:#fff;
    box-shadow: 0 0.150rem 0.5rem rgba(0, 0, 0, 0.075);
}

.button{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:20px;
    padding:0 20px;
    gap:10px;
}

.button button{
    height:35px;
   width:10%;
   border-radius:20px;
   /*margin:0 20px;*/
    border:none;
   outline:0;
   background-color:#0166cc;
   color:#fff;
   font-size:12px;
   cursor:pointer;
}
