<!-- <nav id="sidebar">
    <div class="sidebar_blog_1">
       <div class="sidebar-header">
          <div class="logo_section">
             <a href="index.html"><img class="logo_icon img-responsive" src="assets/images/logo/logo_icon.png" alt="#" /></a>
          </div>
       </div>
       <div class="sidebar_user_info">
          <div class="icon_setting"></div>
          <div class="user_profle_side">
             <div class="user_img"><img class="img-responsive" src="assets/images/layout_img/user_img.jpg" alt="#" /></div>
             <div class="user_info">
                <h6>John David</h6>
                <p><span class="online_animation"></span> Online</p>
             </div>
          </div>
       </div>
    </div>
    <div class="sidebar_blog_2">
       <h4>General</h4>
       <ul class="list-unstyled components">
        <li class="active">
            <a href="#acceuil"><i class="fa fa-home white_color"></i> <span>ACCEUIL</span></a>
          
        </li>
        <li>
            <a href="#presentation" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-clock-o white_color"></i><span>PRESENTATIONS</span></a>

            <ul class="collapse list-unstyled" id="presentation">
                <li><a href="equipe.html">> <span>Composition de l'équipe</span></a></li>
                <li><a href="infosite.html">> <span>Informations générales sur le site</span></a></li>
                <li><a href="photopresentaion.html">> <span>Illustration photos</span></a></li>
            </ul>
        </li>
        <li>
            <a href="#enviprotection" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-diamond white_color"></i><span>ENVIRONNEMENT</span></a>
                <ul class="collapse list-unstyled" id="enviprotection">
                    <li><a href="envir.html">> <span>Contrôle de environnement</span></a></li>
                    <li><a href="photoenvir.html">> <span>Illustration photos</span></a></li>
                </ul>
        </li>
        <li>
            <a href="#structure" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-table white_color2"></i> <span>STRUCTURE PRINCIPALE</span></a>
            <ul class="collapse list-unstyled" id="structure">
                <li><a href="descripsrtucture.html">> <span>Contrôle et description</span></a></li>
                <li><a href="verticastructure.html">> <span>Contrôle de la verticalité (Méthode au choix)</span></a></li>
                <li><a href="tensionstructure.html">> <span>Mesure des tensions mécaniques des haubans</span></a></li>
                <li><a href="photostructure.html">> <span>Illustration photos</span></a></li>
            </ul>
        </li>
        <li>
            <a href="#navigation" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                    class="fa fa-object-group white_color"></i><span>NAVIGATION AERIENNE</span></a>
            <ul class="collapse list-unstyled" id="navigation">
                <li><a href="systemenavigation.html">> <span>Contrôle du système</span></a></li>
                <li><a href="photonavigation.html">> <span>Illustration photos</span></a></li>
            </ul>
        </li>
        <li>
            <a href="#electricite" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-briefcase white_color"></i><span>INSTALLATIONS ELECTRIQUES</span></a>
                <ul class="collapse list-unstyled" id="electricite">
                    <li><a href="electricite.html">> <span>Contrôle des installations</span></a></li>
                    <li><a href="photoelectricite.html">> <span>Illustration photos</span></a></li>
                </ul>
        </li>
        <li>
            <a href="#foudre" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-paper-plane white_color"></i> <span>PROTECTION ANTI-FOUDRE</span></a>
                <ul class="collapse list-unstyled" id="foudre">
                    <li><a href="systemefoudre.html">> <span>Contrôle du système</span></a></li>
                    <li><a href="mesureterre.html">> <span> Mesure de terre</span></a></li>
                    <li><a href="resistanceterre.html">> <span>Résistance de terre isolée</span></a></li>
                    <li><a href="photofoudre.html">> <span>Illustration photos</span></a></li>
                </ul>
        </li>
        <li >
            <a href="#antennaire" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                    class="fa fa-clone white_color"></i> <span>SYSTEME ANTENNAIRE</span></a>
            <ul class="collapse list-unstyled" id="antennaire">
                <li><a href="systemeantenne.html">> <span>Contrôle du système</span></a></li>
                <li><a href="equipements.html">> <span>Equipements radioélectriques</span></a></li>
                <li><a href="radio.html">> <span>Configuration radio</span></a></li>
                <li><a href="transmission.html">> <span>Configuration transmission</span></a></li>
                <li><a href="photoantenne.html">> <span>Illustrations photos</span></a></li>
                <li><a href="technologies.html">> <span>Vues panoramiques par secteurs et technologies déployées</span></a></li>
                <li><a href="elevation.html">> <span> Plan d’élévation</span></a></li>
            </ul>
        </li>
        <li>
            <a href="#synthese" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-map white_color"></i><span>SYNSTHESE ET RECOMMANDATIONS</span></a>
                <ul class="collapse list-unstyled" id="synthese">
                    <li><a href="tableau.html">> <span>Tableau de synthèse et recommandations</span></a></li>
                </ul>
        </li>
        <li><a href="charts.html"><i class="fa fa-bar-chart-o white_color"></i> <span>CONCLUSION DE L’AUDIT</span></a></li>
        <li><a href="settings.html"><i class="fa fa-cog white_color"></i> <span>ANNEXES</span></a></li>
    </ul>
    </div>
 </nav>

  -->








  <nav id="sidebar">
    <div class="sidebar_blog_1">
       <div class="sidebar-header">
          <div class="logo_section">
             <a href="index.html"><img class="logo_icon img-responsive" src="assets/images/logo/logo_icon.png" alt="#" /></a>
          </div>
       </div>
       <div class="sidebar_user_info">
          <div class="icon_setting"></div>
          <div class="user_profle_side">
             <div class="user_img"><img class="img-responsive" src="assets/images/layout_img/user_img.jpg" alt="#" /></div>
             <div class="user_info">
                <h6>John David</h6>
                <p><span class="online_animation"></span> Online</p>
             </div>
          </div>
       </div>
    </div>
    <div class="sidebar_blog_2">
       <h4>General</h4>
       <ul class="list-unstyled components">
        <li class="active">
            <a [routerLink]="['/dashboard']"><i class="fa fa-home white_color"></i> <span>ACCEUIL</span></a>
          
        </li>
        <li>
            <a href="#presentation" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-clock-o white_color"></i><span>PRESENTATIONS</span></a>

            <ul class="collapse list-unstyled" id="presentation">
                <li><a href="equipe.html">> <span>Composition de l'équipe</span></a></li>
                <li><a href="infosite.html">> <span>Informations générales sur le site</span></a></li>
                <li><a href="photopresentaion.html">> <span>Illustration photos</span></a></li>
            </ul>
        </li>
        <li>
            <a href="#enviprotection" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-diamond white_color"></i><span>ENVIRONNEMENT</span></a>
                <ul class="collapse list-unstyled" id="enviprotection">
                    <li><a href="envir.html">> <span>Contrôle de environnement</span></a></li>
                    <li><a href="photoenvir.html">> <span>Illustration photos</span></a></li>
                </ul>
        </li>
        <li>
            <a href="#structure" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-table white_color2"></i> <span>STRUCTURE PRINCIPALE</span></a>
            <ul class="collapse list-unstyled" id="structure">
                <li><a href="descripsrtucture.html">> <span>Contrôle et description</span></a></li>
                <li><a href="verticastructure.html">> <span>Contrôle de la verticalité (Méthode au choix)</span></a></li>
                <li><a href="tensionstructure.html">> <span>Mesure des tensions mécaniques des haubans</span></a></li>
                <li><a href="photostructure.html">> <span>Illustration photos</span></a></li>
            </ul>
        </li>
        <li>
            <a href="#navigation" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                    class="fa fa-object-group white_color"></i><span>NAVIGATION AERIENNE</span></a>
            <ul class="collapse list-unstyled" id="navigation">
                <li><a href="systemenavigation.html">> <span>Contrôle du système</span></a></li>
                <li><a href="photonavigation.html">> <span>Illustration photos</span></a></li>
            </ul>
        </li>
        <li>
            <a href="#electricite" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-briefcase white_color"></i><span>INSTALLATIONS ELECTRIQUES</span></a>
                <ul class="collapse list-unstyled" id="electricite">
                    <li><a href="electricite.html">> <span>Contrôle des installations</span></a></li>
                    <li><a href="photoelectricite.html">> <span>Illustration photos</span></a></li>
                </ul>
        </li>
        <li>
            <a href="#foudre" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-paper-plane white_color"></i> <span>PROTECTION ANTI-FOUDRE</span></a>
                <ul class="collapse list-unstyled" id="foudre">
                    <li><a href="systemefoudre.html">> <span>Contrôle du système</span></a></li>
                    <li><a href="mesureterre.html">> <span> Mesure de terre</span></a></li>
                    <li><a href="resistanceterre.html">> <span>Résistance de terre isolée</span></a></li>
                    <li><a href="photofoudre.html">> <span>Illustration photos</span></a></li>
                </ul>
        </li>
        <li >
            <a href="#antennaire" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                    class="fa fa-clone white_color"></i> <span>SYSTEME ANTENNAIRE</span></a>
            <ul class="collapse list-unstyled" id="antennaire">
                <li><a href="systemeantenne.html">> <span>Contrôle du système</span></a></li>
                <li><a href="equipements.html">> <span>Equipements radioélectriques</span></a></li>
                <li><a href="radio.html">> <span>Configuration radio</span></a></li>
                <li><a href="transmission.html">> <span>Configuration transmission</span></a></li>
                <li><a href="photoantenne.html">> <span>Illustrations photos</span></a></li>
                <li><a href="technologies.html">> <span>Vues panoramiques par secteurs et technologies déployées</span></a></li>
                <li><a href="elevation.html">> <span> Plan d’élévation</span></a></li>
            </ul>
        </li>
        <li>
            <a href="#synthese" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-map white_color"></i><span>SYNSTHESE ET RECOMMANDATIONS</span></a>
                <ul class="collapse list-unstyled" id="synthese">
                    <li><a href="tableau.html">> <span>Tableau de synthèse et recommandations</span></a></li>
                </ul>
        </li>
        <li><a href="charts.html"><i class="fa fa-bar-chart-o white_color"></i> <span>CONCLUSION DE L’AUDIT</span></a></li>
        <li><a href="settings.html"><i class="fa fa-cog white_color"></i> <span>ANNEXES</span></a></li>
    </ul>
    </div>
 </nav>

 




























