<app-header></app-header>
<app-side-bar-deux></app-side-bar-deux>
<!-- right content -->
<div id="content">
    <h2 class="mt-5">Liste des rapports enregistrés</h2>
    <div class="midde_cont mt-5">

        <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th scope="col">Id_Rapports</th>
                <th scope="col">Titre_Rapports</th>
                <th scope="col">Statut</th>
                <th scope="col">Date_debut</th>
                <th scope="col">Date_fin</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>

            <tbody *ngFor="let rapport of rapports">
              <tr>
                <td>{{ rapport.id }}</td>
                <td>{{ rapport.titre_rapport }}</td>
                <div *ngIf="getStatus(rapport.statut) ; else elseBlock">
                  <td>Terminé</td>
                </div>
                <ng-template #elseBlock>
                  <td>En cours</td>
                </ng-template>
                <td>{{ rapport.createdAt }}</td>
                <td>{{ rapport.updatedAt }}</td>
                <div class="icon">
                    <a routerLink="/inforapport/edit/{{rapport.id}} " ><i class="fa fa-edit blue1_color"></i></a>
                    <i class="fa fa-trash red_color" (click)="SupprimerRapport(rapport.id)"></i>
                   <a routerLink="/rapport/{{ rapport.id }}" target="_blank"><i class="fa fa-eye purple_color2"></i></a> 
                    <i class="fa fa-download green_color" (click)="downloadTemplate(rapport.id)"></i>
                </div>
              </tr>

            </tbody>
          </table>

    </div>

 </div>
