<app-header></app-header>
<app-side-bar></app-side-bar>
<!-- right content -->
<div id="content">
    <h2 class="mt-5">Liste des rapports enregistrés</h2>
    <div class="midde_cont mt-5">

        <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th scope="col">Rapports</th>
                <th scope="col">Date</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Mark</td>
                <td>Otto</td>
                <div class="icon">
                    <a routerLink="/presentation"><i class="fa fa-edit blue1_color"></i></a>
                    <i class="fa fa-trash red_color"></i>
                   <a routerLink="/rapport"><i class="fa fa-folder-open purple_color2"></i></a> 
                    <i class="fa fa-download green_color"></i>
                </div>
              </tr>
              <tr>
                <td>Jacob</td>
                <td>Thornton</td>
                <div class="icon">
                    <a routerLink="/presentation"><i class="fa fa-edit blue1_color"></i></a>
                    <i class="fa fa-trash red_color"></i>
                    <a routerLink="/rapport"><i class="fa fa-folder-open purple_color2"></i></a> 
                    <i class="fa fa-download green_color"></i>
                </div>
              </tr>
              <tr>
                <td>Larry the Bird</td>
                <td>@twitter</td>
                <div class="icon">
                    <a routerLink="/presentation"><i class="fa fa-edit blue1_color"></i></a>
                    <i class="fa fa-trash red_color"></i>
                    <a routerLink="/rapport"><i class="fa fa-folder-open purple_color2"></i></a>
                    <i class="fa fa-download green_color"></i>
                </div>
              </tr>
            </tbody>
          </table>

    </div>

 </div>
